.modal.fade#myModalChoiceEntity(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close" onclick="removeData()")
          i.fa.fa-close
        h6.modal-title
      .modal-body
      .modal-footer
        button.pull-left#choice(type="button" data-dismiss="modal" button data-func="confirmDeleteEntity") Aceptar
        button.pull-right(type="button" data-dismiss="modal" button close onclick="removeData()") Cancelar