.modal.fade#myModalEdit(tabindex="-1" role="dialog" aria-labelledby="myModalEditLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h6.modal-title
      .modal-body
        .form#user-form-edit(padding data-userid="" autocomplete="off")
          fieldset
            label Nombre
            input#name-modal(type="text", name="name", required, placeholder="Ingresa el nombre"  autocomplete="off")
          fieldset
            label Email
            input#email-modal(type="email", name="email", required, placeholder="Ingresa el email"  autocomplete="off")
          fieldset
            label Teléfono
            input#phone-modal(type="phone", name="phone", required, placeholder="Ingresa el teléfono. Ej. 912345678" autocomplete="off")
          button.form#edit-user(button, type="submit", onclick="editUser()") Editar

      .modal-footer
        button(type="button" data-dismiss="modal" button) Cerrar