.container-modal#modal-dialog
  .container-form
    .form(data-validate="async", data-func-validate="saveDialog", novalidate)
      fieldset
        label Nombre de diálogo
        input.input-upper#name-dialog(type="text", placeholder="Escribe el nombre de la entidad", required)


        a.button-add(href="#;" onclick="addDialogOption(this)")
          | Añadir respuesta
          i.fa.fa-plus-circle(aria-hidden="true")

        #responds(margin-top)
          h6 Respuestas
          ul#list-dialogs-respond

      .buttons
        //- button.pull-left#save-dialog-btn(button) Guardar
        button.pull-right(button type="button" close onclick="closeCustomModal('#modal-dialog'); clearIntent('#name-dialog', '#modal-dialog')") Cerrar

    //- .buttons
    //-   button.pull-left#save-dialog-btn(button onclick="saveDialog(); clearIntent('#name-dialog', '#modal-dialog'); closeCustomModal('#modal-dialog')") Guardar
    //-   button.pull-right(button close onclick="closeCustomModal('#modal-dialog'); clearIntent('#name-dialog', '#modal-dialog')") Cerrar

  .backdrop-modal