.container-modal#modal-intent
  .container-form
    .form(data-validate="async", data-func-validate="saveIntent", novalidate)
      fieldset.hash#fieldset-intent
        label Nombre de intención
        span #
        input#name-intent(type="text", placeholder="Escribe el nombre de la intención", required)
        a.button-add.add-intent(href="#;" onclick="addFieldset(this, 'Ejemplo de intención', 'Escribe el ejemplo de la intención')") Añadir ejemplo 
          i.fa.fa-plus-circle(aria-hidden="true")

        //- fieldset.wrapper-intent
        //-   label Ejemplos de intención
        //-   input.example-intent(type="text", placeholder="Escribe el ejemplo de la intención", required)
      .buttons
        button#save-intent.pull-left(button) Guardar
        button.pull-right(button close onclick="closeCustomModal('#modal-intent'); clearIntent('#name-intent', '#modal-intent')") Cerrar
    //- .buttons
      //- button#save-intent.pull-left(button, onclick="saveIntent('#name-intent', '#modal-intent', 'fieldset-intent', 'list-intents'); clearIntent('#name-intent', '#modal-intent'); closeCustomModal('#modal-intent')") Guardar
      //- button.pull-right(button close onclick="closeCustomModal('#modal-intent'); clearIntent('#name-intent', '#modal-intent')") Cerrar

  .backdrop-modal