.modal.fade#myModalScript(tabindex="-1" role="dialog" aria-labelledby="myModalScriptLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          i.fa.fa-close
        h6.modal-title Copia y pega el siguiente código en tu web. Después de <span class="code"><span>&lt;</span>head<span>&gt;</span></span> y antes de <span class="code"><span>&lt;/</span>head<span>&gt;</span></span>
      .modal-body
        pre(text-left)