.modal.fade#myModalUser(tabindex="-1" role="dialog" aria-labelledby="myModalUserLabel")
  .modal-dialog(role="document")
    .modal-content
      .form
        .modal-header
          h6.modal-title
        .modal-body(text-left)
          fieldset
            label Perfil
            select#user-profile(name="user-profile")
              option(value="" selected disabled) Seleccione
              option(value="1") Editor
              option(value="2") Lector
          fieldset
            label Nombre
            input.user-name#user-name(type="text", name="user-name", placeholder="Nombre usuario")
          fieldset
            label Email
            input.user-email#user-mail(type="email", name="user-mail", maxlength="128")

        .modal-footer
          button.pull-left#validate(type="submit" button onclick="saveUser()") Guardar
          button.pull-right(type="button" data-dismiss="modal" button close onclick="removeData()") Cancelar
