.row
  .col-md-12.content-header
<<<<<<< HEAD
=======
    button.btn.menu(button onclick="menu()")
      i.fa.fa-bars
>>>>>>> master
    .mad-cognitiva
      h5 Mantenedor Asistente Digital / <span></span>
    button.user(button onclick="closeSession()")
      #user Hola, <span>Ernesto</span>
      i.fa.fa-hand-peace-o