html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title Indicadores Asistente. MAD Cognitiva
    
    include ../includes/meta.pug

  body.no-scroll(heightfull)
  
    #wrapper(heightfull)
      .f-row(heightfull)
        
        include ../includes/menu.pug

        .f-col.content(padding heightfull)
          
          include ../includes/user.pug
          
          .row
            .col-md-12#root
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(type="text/javascript" src= '../assets/js/main.js')
    script(type="text/javascript" src='/assets/js/mainReact.js')

