// auxiliary
$padding:      1.5rem;

// to delete
$menu:        #1f2a3e;
$gray-dark:   #081122;
$gray-chart:  #f3f7f6;
$red-block:   #D50000;
$green-md:    #8BC34A;

// dialogs
$red:         #ff5964;
$green:       #4fb756;

// brand
$blue:        #1c75bc;
$blue-light:  #009dc3;
$blue-dark:   #043d5d;
$blue-deep:   #001e37;
$yellow:      #e7b81d;
$gray:        #54575c;
$gray-light:  #b4b8ba;

// alternatives
$black:       #141921;
$light:       #f7f8f8;
$light-alpha: rgba(247,248,248,0.5);
$light-super: #f4f4f4;
$border:      #e2e2e2;
$white:       #fff;



