html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title Demo. MAD Cognitiva
    
    include ../includes/meta.pug

    script(type="text/javascript" src="http://asistente_duoc.mycognitiva.io/cdn/js/build/main.js")
    script.
      window.addEventListener('load', function () {
        window.CognitiveAssistantMain.init('http://asistente_duoc.mycognitiva.io/asistente/');
      });

  body.no-scroll.aui(heightfull)
    iframe#demo(src="", frameborder="0")

    script.
      const customParams = JSON.parse(localStorage.getItem('customParams')),
        url = customParams.url,
        getDemo = document.getElementById('demo');
      getDemo.src = url;