html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title NPS. MAD Cognitiva
    
    include ../../includes/meta.pug
    script(src="https://www.gstatic.com/charts/loader.js")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

  body.no-scroll(heightfull)
  
    #wrapper(heightfull)
      .f-row(heightfull)
        
        include ../../includes/menu.pug

        .f-col.content(padding heightfull)
          
          include ../../includes/user.pug
          
          .row
            .col-md-12

              h1.title-page NPS

              .container-tabs

                ul#tabs.nav.nav-tabs(role="tablist")
                  li.active(role="presentation")
                    a(href="#last-days" aria-controls="last-days" role="tab" data-toggle="tab")
                      span Últimos 30 días
                  li(role="presentation")
                    a(href="#by-range" aria-controls="by-range" role="tab" data-toggle="tab")
                      span Por rango
<<<<<<< HEAD
                  li(role="presentation")
                    a(href="#by-week" aria-controls="by-week" role="tab" data-toggle="tab")
                      span Por semana
                  //- li(role="presentation")
                    a(href="#by-hour" aria-controls="by-hour" role="tab" data-toggle="tab")
                      span Por hora
=======
>>>>>>> master

                .tab-content.has-title
                  #last-days.tab-pane.fade.in.active(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
<<<<<<< HEAD
                          .form(onsubmit="event.preventDefault()")
=======
                          form(onsubmit="event.preventDefault()")
>>>>>>> master
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
<<<<<<< HEAD
                                      input.date-picker-days#last30(type="text", data-date-end-date="0d", name="last30", placeholder="Seleccione")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.select
                                      select.box-field(id="last30-channel")
                                        option(value="" selected disabled) Selecciona canal
                                        option(value="App") App
                                        option(value="SitioPublico") Sitio Público
                                        option(value="SitioPrivado") Sitio Privado
                                      span.input-group-addon
                                        i.fa.fa-sort-down(aria-hidden="true")

                              .col-md-3
                                button.btn(button, onclick="getDateInput('last30', 'isn', 'last-days', 'chart_div', 'last30-channel')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>últimos 30 días</b> <span></span>
                            #chart_div
                              .row
                                .col-md-5
                                  .promedio-isn.promedio-isn 0.0
                                .col-md-7
                                  .row
                                    .col-md-6
                                      ul.circles-assessment
                                        li.sat Promotores
                                        li.neu Neutros
                                        li.ins Detractores
                                    .col-md-6
                                      .assessment
                                        .col-5.yellow 
                                        .col-3.gray
                                        .col-1.blue
=======
                                      input.date-picker-days#last30(type="text", data-date-end-date="0d", name="last30", placeholder="Seleccione",autocomplete="off")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('last30', 'isn', 'last-days', '')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>últimos 30 días</b> <span></span>
                            .row
                              .col-md-5
                                #promedio-isn.promedio-isn 0.0
                              .col-md-7
                                .row
                                  .col-md-6
                                    ul.circles-assessment
                                      li.sat Promotores
                                      li.neu Neutros
                                      li.ins Detractores
                                  .col-md-6
                                    .assessment
                                      .col-5.yellow 
                                      .col-3.gray
                                      .col-1.blue
>>>>>>> master

                      a.download-cvs(pull-right)
                        | Descargar CSV
                        i.fa.fa-file-excel-o(aria-hidden="true")

                  #by-range.tab-pane.fade(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
<<<<<<< HEAD
                          .form(onsubmit="event.preventDefault()")
=======
                          form(onsubmit="event.preventDefault()")
>>>>>>> master
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
<<<<<<< HEAD
                                      input.date-picker-days#desde(type="text", data-date-end-date="0d", name="", placeholder="Seleccione desde")
=======
                                      input.date-picker-days#desde(type="text", data-date-end-date="0d", name="", placeholder="Seleccione desde",autocomplete="off")
>>>>>>> master
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
<<<<<<< HEAD
                                      input.date-picker-days#hasta(type="text", data-date-end-date="0d", name="", placeholder="Seleccione hasta")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.select
                                      select.box-field(id="desde-channel")
                                        option(value="") Selecciona canal
                                        option(value="App") App
                                        option(value="SitioPublico") Sitio Público
                                        option(value="SitioPrivado") Sitio Privado
                                      span.input-group-addon
                                        i.fa.fa-sort-down(aria-hidden="true")  
                              .col-md-3
                                button.btn(button, onclick="getDateInput('desde', 'isn', 'by-range', 'chart_by_range', 'desde-channel')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>entre fechas</b> <span></span>
                            #chart_by_range
                              .row
                                .col-md-5
                                  .promedio-isn.promedio-isn 0.0
                                .col-md-7
                                  .row
                                    .col-md-6
                                      ul.circles-assessment
                                        li.sat Promotores
                                        li.neu Neutros
                                        li.ins Detractores
                                    .col-md-6
                                      .assessment
                                        .col-5.yellow 
                                        .col-3.gray
                                        .col-1.blue

                      a.download-cvs(pull-right)
                        | Descargar CSV
                        i.fa.fa-file-excel-o(aria-hidden="true")

                  #by-week.tab-pane.fade(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
                          .form(onsubmit="event.preventDefault()")
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
                                      input.date-picker-days#week(type="text", data-date-end-date="0d", name="", placeholder="Seleccione un día")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.select
                                      select.box-field(id="week-channel")
                                        option(value="") Selecciona canal
                                        option(value="App") App
                                        option(value="SitioPublico") Sitio Público
                                        option(value="SitioPrivado") Sitio Privado
                                      span.input-group-addon
                                        i.fa.fa-sort-down(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('week', 'isn', 'by-week', 'chart_by_week', 'week-channel')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>por semana</b> <span></span>
                            #chart_by_week
                              .row
                                .col-md-5
                                  .promedio-isn.promedio-isn 0.0
                                .col-md-7
                                  .row
                                    .col-md-6
                                      ul.circles-assessment
                                        li.sat Promotores
                                        li.neu Neutros
                                        li.ins Detractores
                                    .col-md-6
                                      .assessment
                                        .col-5.yellow 
                                        .col-3.gray
                                        .col-1.blue

                      a.download-cvs(pull-right)
                        | Descargar CSV
                        i.fa.fa-file-excel-o(aria-hidden="true")

                  //- #by-hour.tab-pane.fade(role="tabpanel")
                    .scroll
                      .row
                        .col-md-12
                          form(onsubmit="event.preventDefault()")
                            .row
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.date
                                      input.date-picker-days#hour(type="text", data-date-end-date="0d", name="", placeholder="Seleccione día")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                fieldset
                                  .form-group
                                    .input-group.select
                                      select.box-field(id="hour-channel")
                                        option(value="") Selecciona canal
                                        option(value="App") App
                                        option(value="SitioPublico") Sitio Público
                                        option(value="SitioPrivado") Sitio Privado
                                      span.input-group-addon
                                        i.fa.fa-sort-down(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('hour', 'interacciones', 'by-hour', 'chart_by_hour', 'hour-channel')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>por semana</b> <span></span>
=======
                                      input.date-picker-days#hasta(type="text", data-date-end-date="0d", name="", placeholder="Seleccione hasta",autocomplete="off")
                                      span.input-group-addon
                                        i.fa.fa-calendar(aria-hidden="true")
                              .col-md-3
                                button.btn(button, onclick="getDateInput('desde', 'isn', 'by-range', '')") Filtrar
                        .col-md-12
                          .inner
                            h5 NPS <b>entre fechas</b> <span></span>
>>>>>>> master
                            .row
                              .col-md-5
                                #promedio-isn.promedio-isn 0.0
                              .col-md-7
                                .row
                                  .col-md-6
                                    ul.circles-assessment
                                      li.sat Promotores
                                      li.neu Neutros
                                      li.ins Detractores
                                  .col-md-6
                                    .assessment
                                      .col-5.yellow 
                                      .col-3.gray
                                      .col-1.blue

                      a.download-cvs(pull-right)
                        | Descargar CSV
                        i.fa.fa-file-excel-o(aria-hidden="true")

    include ../../includes/modal.pug
    include ../../includes/modal-script.pug

    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
<<<<<<< HEAD
    script(type="text/javascript" src= myPath +'/assets/js/moment.min.js')
=======
>>>>>>> master
    script(type="text/javascript" src= myPath +'/assets/js/bootstrap.min.js')
    script(type="text/javascript" src= myPath +'/assets/js/bootstrap-datepicker.js')
    script(type="text/javascript" src= myPath +'/assets/js/date.js')
    script(type="text/javascript" src= myPath +'/assets/js/main.js')
<<<<<<< HEAD

    script.

      var d = new Date();

      var e = new Date();
          f = e.setDate(e.getDate() - 30);
          w = e.setDate(e.getDate() - 10)
          g = new Date(f);

      var month = new Array();
          month[0] = "Enero";
          month[1] = "Febrero";
          month[2] = "Marzo";
          month[3] = "Abril";
          month[4] = "Mayo";
          month[5] = "Junio";
          month[6] = "Julio";
          month[7] = "Agosto";
          month[8] = "Septiembre";
          month[9] = "Octubre";
          month[10] = "Noviembre";
          month[11] = "Diciembre";

      var n = month[d.getMonth()],
          getSession = "1",
          getTkn = sessionStorage.getItem('tkn');
          //- getTheToken = '';

      //- if (sessionStorage.getItem('tkn')) {
      //-   getTheToken = '?token='+sessionStorage.getItem('tkn');
      //- } else {
      //-   getTheToken = '';
      //- }
      
      function getDateInput(input, type, tab, chartName, selector){

        var getInputVal   = document.getElementById(input).value || new Date().toISOString().slice(0,10),
=======
    
    script.
      var d = new Date();
      var e = new Date();
          f = e.setDate(e.getDate() - 30);
          g = new Date(f);

      var month = new Array();
      month[0] = "Enero";
      month[1] = "Febrero";
      month[2] = "Marzo";
      month[3] = "Abril";
      month[4] = "Mayo";
      month[5] = "Junio";
      month[6] = "Julio";
      month[7] = "Agosto";
      month[8] = "Septiembre";
      month[9] = "Octubre";
      month[10] = "Noviembre";
      month[11] = "Diciembre";
      var n = month[d.getMonth()];
      var getSession = user.user_id,
        getTkn = user.tkn;
      
      function getDateInput(input, type, tab, chartName){

        var getInputVal   = document.getElementById(input).value,
>>>>>>> master
            getDesde      = document.getElementById('desde').value,
            getHasta      = document.getElementById('hasta').value,
            desdeDate     = new Date(getDesde),
            hastaDate     = new Date(getHasta),
            getDate       = new Date(getInputVal),
            dateStart     = '',
            dateEnd       = '',
<<<<<<< HEAD
            getInputEnd   = getHasta;
=======
            getInputEnd   = document.getElementById('hasta').value;
>>>>>>> master

        var getMonth      = getDate.getMonth(),
            getYear       = getDate.getFullYear();

        var lastDay       = new Date(getYear, getMonth + 1, 0),
            formatDate    = getDate.setDate(getDate.getDate() - 30),
            getDateFormat = new Date(formatDate),
            getDateFormat = getDateFormat.toISOString().substring(0,10);

        var myResponse    = '';

        if(tab == 'last-days'){
          dateEnd = getInputVal;
<<<<<<< HEAD
          dateStart = moment(getInputVal, "YYYY-MM-DD").subtract(30, 'days').format('YYYY-MM-DD');
          getInteractions(type, dateStart, dateEnd, getSession, chartName, selector);
        }else if(tab == 'by-week'){
          dateEnd = getInputVal;
          dateStart = moment(getInputVal, "YYYY-MM-DD").subtract(7, 'days').format('YYYY-MM-DD');
          getInteractions(type, dateStart, dateEnd, getSession, chartName, selector);
        }else if(tab == 'by-hour'){
          getInteractions(type, getInputVal, getInputVal, getSession, chartName, selector);
        }else {
=======
          dateStart = getDateFormat;
          getInteractions(type, dateStart, dateEnd, getSession, chartName);
        } else {
>>>>>>> master
          if(desdeDate >= hastaDate) {
            $('#desde, #hasta').addClass('error');
            $('#desde, #hasta').parent().find('.input-group-addon').addClass('error');  
          } else {
            $('#desde, #hasta').removeClass('error');
            $('#desde, #hasta').parent().find('.input-group-addon').removeClass('error');
<<<<<<< HEAD
            dateEnd = getHasta ? getHasta : moment().format('YYYY-MM-DD');
            dateStart = getDesde ? getDesde : moment().subtract(30, 'days').format('YYYY-MM-DD');
            getInteractions(type, dateStart, dateEnd, getSession, chartName, selector);
=======
            dateEnd = getHasta;
            dateStart = getDesde;
            getInteractions(type, dateStart, dateEnd, getSession, chartName);
>>>>>>> master
          }
        }
        return false;
      }

      $('.date-picker-days').datepicker({
        language: 'es',
        minViewMode: 'days'
      });

<<<<<<< HEAD
      function getInteractions(tipo, fechaIni, fechaFin, id, divId, selector){
        var getCanal = document.getElementById(selector).value;
        if(getCanal == ''){
          getCanal = "all";
        }
        var promise = $.ajax({
          type: 'POST',
          url: getPath+'mant/filtros_isn',
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn
          },
=======
      function getInteractions(tipo, fechaIni, fechaFin, id, divId){
        var promise = $.ajax({
          type: 'POST',
          url: getPath+'mant/filtros',
>>>>>>> master
          data:  JSON.stringify(
            {
              tipo: tipo,
              inicio: fechaIni,
              fin: fechaFin,
<<<<<<< HEAD
              id_cliente: id,
              canal: getCanal
            }
          ),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.respuesta.detractores == 0 && response.respuesta.neutros == 0 && response.respuesta.promotores == 0){
            $('#'+divId).prepend('<p class="no-data">No se han encontrado datos</p>')
            return false;
          } else {
            $('#'+divId+' .no-data').remove();
=======
              id_cliente: id
            }
          ),
          headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer "+getTkn,
            "Cache-Control": "no-cache",
          },
          dataType: 'json',
          contentType: 'application/json; charset=utf-8'
        }).done(function(response){
          if(response.estado !== undefined && response.estado.codigoEstado !== 200){
            $('#'+divId).html('<p>No se han encontrado datos</p>');
            return false;
>>>>>>> master
          }
          createCSV(response.csv, 'nps');
          var totalAssessment = response.respuesta.detractores + response.respuesta.neutros + response.respuesta.promotores;
          var totalISN = ((response.respuesta.promotores - response.respuesta.detractores) / totalAssessment) * 100;
          var getPromoters = (100 * response.respuesta.promotores) / totalAssessment;
          $('.col-5').css('height', getPromoters.toFixed(1)+'%');
          $('.col-5').empty().text(getPromoters.toFixed(1)+'%');
          var getNeutral = (100 * response.respuesta.neutros) / totalAssessment;
          $('.col-3').css('height', getNeutral.toFixed(1)+'%');
          $('.col-3').empty().text(getNeutral.toFixed(1)+'%');
          var getDetractors = (100 * response.respuesta.detractores) / totalAssessment;
          $('.col-1').css('height', getDetractors.toFixed(1)+'%');
          $('.col-1').empty().text(getDetractors.toFixed(1)+'%');
<<<<<<< HEAD
          $('#'+divId+' .promedio-isn').empty().append(totalISN.toFixed(1)+'<span class="percentage">%</span>');
        });
      }

      getInteractions('isn', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_div', 'last30-channel');

      $('a[href="#by-range"]').on('shown.bs.tab', function (e) {
        getInteractions('isn', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_by_range', 'desde-channel');
      });

      $('a[href="#by-week"]').on('shown.bs.tab', function (event){
        getInteractions('isn', moment().subtract(7, 'days').format('YYYY-MM-DD'), moment().format('YYYY-MM-DD'), getSession, 'chart_by_week', 'week-channel');
      });
=======
          $('.promedio-isn').empty().append(totalISN.toFixed(1)+'<span class="percentage">%</span>');
        });
      }

      $('a[href="#by-range"]').on('shown.bs.tab', function (e) {
        getInteractions('isn', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_by_range');
      })

      function initial(){
        if(hasToken){
          getInteractions('isn', g.toISOString().substring(0,10), d.toISOString().substring(0,10), getSession, 'chart_div');
        }else{
          setTimeout(()=>{
            initial();
          },300);
        }
      }

      initial();
>>>>>>> master
