html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title Demo. MAD Cognitiva
    
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")

    include ../includes/meta.pug

    script(type="text/javascript" src="/cdn/js/build/main.js")
    
    script.
      window.addEventListener('load', function () {
        var origen = null
        window.CognitiveAssistantMain.init('/asistente/?cod_producto=C0002353&origen='+origen);
      });

    //- script.
      (
        function (window, document) {
          "use strict";
          class getTkn {
            constructor(){
              //- this.theTkn = '4702dace-b4e8-407c-8da5-c9678cf8c720';
            }
          }
          window.CognitiveGetTkn = new getTkn();
        } (window, document)
      );

  body.no-scroll.aui(heightfull)
    iframe#demo(src="https://www.example.com/", frameborder="0")