html(lang="es-CL" dir="ltr" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#" heightfull)
  head
    title Demo. MAD Cognitiva
    
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")

    include ../includes/meta.pug
    script.
      var zzz = Date.now();
      document.getElementById('mainJS').setAttribute('src','/cdn/js/build/main.js?v'+zzz);

    script(type="text/javascript" id="mainJS")
    
    script.
      window.addEventListener('load', function () {
        window.CognitiveAssistantMain.init('/asistente/');
      });

  body.no-scroll.aui(heightfull)
    iframe#demo(src="https://www.example.com/", frameborder="0")